<h1>Welcome, <%= @user.username %></h1>

<h2>Your Posts</h2>

<% @user.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>

<%= link_to "Create New Post", new_post_path %>

<h2>Your Comments</h2>

<% @user.comments.each do |comment| %>
  <%= link_to comment.message, post_path(comment.post) %>
<% end %>

<h2>Your Communities</h2>

<% @user.communities.each do |community| %>
  <%= link_to community.name, community_path(community) %>
<% end %>

<div>
<%= link_to "Create New Community", new_community_path %>

<%= link_to "View All Communities", communities_path %>
</div>

<h2>Your Feed</h2>

<% @user.feed.each do |post| %>
  <%= link_to post.title, post_path(post) %>
<% end %>

<div>
<%= link_to "Back to All Posts", posts_path %>
</div>