<h1><%= @post.title %></h1>

<p>Posted in: <%= link_to @post.community.name, community_path(@post.community) %></p>

<p>Posted by: <%= @post.author.username %></p>

<p><%= @post.content %></p>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>

<p><%= comment.message %></p>

<p>Posted by: <%= comment.author.username %></p>

<% end %>

<%= form_with model: (@post.comments.build) do |f| %>

<%= f.hidden_field :author_id, value: session[:user_id] %>
<%= f.hidden_field :post_id, value: @post.id %>

<%= f.label :message %>

<%= f.text_area :message %>

<%= f.submit %>

<% end %>

<div>

<%= link_to "Back to All Posts", posts_path %>

</div>
